.table {
    table-layout: fixed;
}
.table td, .table th {
    overflow: hidden;
    -webkit-transition: width 2s; /* Safari */
    transition: width 2s;
}
.tbody {
    overflow-y: hidden;
}
.fancytable .thead {
    font-weight: bold;
}
.fancytable .tbody {
    overflow-y: hidden;
    transition: height 1s;
}
.fancytable .tbody .list-group {
    position: relative;
    transition: top 0.5s;
}

.fancytable .tbody .list-group .list-group-item {
    opacity: 1;
    overflow-y: hidden;
    transition: height 1s, opacity 1s, padding 1s;
}
.fancytable .tbody .list-group .list-group-item.filtered {
    height: 0;
    opacity: 0;
    padding: 0;
}
.flip-list-move {
    transition: transform 1s;
}